name: CI

on:
  pull_request:
    branches: ["main"]
    paths-ignore: ["*.md"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "7.0.x"

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81 # v5
        with:
          images: workleap/eventgridemulator

      - name: Docker build
        uses: docker/build-push-action@4a13e500e55cf31b7a5d59a38ab2040ab0f42f56 # v5
        with:
          context: ./src
          file: ./src/EventGridEmulator/Dockerfile
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
